body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding-bottom: 150px;
  background-color: #e1f1fa;
}

.App {
  text-align: center;
}

.blank-cards {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.blank-card {
  /* width: 100px;
  height: 150px; */
  width: 191px;
  height: 263px;
  border: 1px dashed #ccc;
  margin: 0 10px;
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blank-card.show-number {
  opacity: 1;
}

.blank-card .number {
  font-size: 24px;
  color: #ccc;
}

.blank-card.fade-in {
  opacity: 1;
}

.blank-single-card {
  width: 191px;
  height: 263px;
  perspective: 1000px;
  cursor: pointer;
  transition: transform 0.3s ease, opacity 0.6s ease;
}

.blank-single-card.flipped .card-inner {
  transform: rotateY(180deg);
}


.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-right: 230px;
  padding-left: 35px ;
  box-sizing: border-box; /* 确保padding包含在宽度内 */
}


.card {
  /* width: 98px;
  height: 140px; */
  /* width: 123px;
  height: 175px; */
  width: 191px;
  height: 263px;
  perspective: 1000px;
  cursor: pointer;
  margin-right: -210px;
  margin-bottom: 10px;
  transition: transform 0.3s ease, opacity 0.6s ease;
  transform: translateX(0); /* 默认位置 */
}

.card.shuffling {
  transition: transform 0.3s ease-in-out; /* 改变过渡效果为更平滑 */
}

@media screen and (orientation:portrait) { 
  .cards {
    width: 100%;
    justify-content: flex-start;
    margin-left: 10px;
    margin-right: 20px;
    padding-right: 110px;
  }

  .card {
    margin-bottom: 20px;
    width: 96px;
    height: 135px;
    margin-right: -80px;
  }
  
  .blank-card {
    width: 100px;
    height: 150px;
  }
  .blank-single-card {
    width: 100px;
    height: 150px;
  }
  
}



.card.hidden {
  opacity: 0;
  pointer-events: none;
}

.card:hover {
  transform: scale(1.1);
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  background-image: url('/public/images/back.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  border: 1px solid white;
  border-radius: 10px;
}

.card-back {
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-back img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.selected-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.selected-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.selected-card {
  width: 200px;
  height: 300px;
  margin: 10px;
  perspective: 1000px;
  cursor: pointer;
}

button {
  margin: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
